@{
  Layout = "_Layout";
}

<h2>Here is the list of your stylists.</h2>
<div class="container">
<ul>
  @foreach (var stylist in Model)
  {
    <li><a href="/stylists/@stylist.GetId()">@stylist.GetName()</a></li>
    <a href = "/stylists/@stylist.GetId()/update"><button class='btn btn'>Edit</button></a>
  }
</ul>
</div>
