@{
  Layout = "_Layout";
}

<div class="container">
Welcome to Mel's Hair Salon Database!

<a href='/stylists'><button class='btn btn'>View All Stylists</button></a>
<a href='/stylists/new'><button class='btn btn'>Add Stylist</button></a>
<a href='/clients'><button class='btn btn'>All Clients</button></a>
<a href='/specialities'><button class='btn btn'>All Specialities</button></a>
</div>
