@{
  Layout = "_Layout";
}

<div class="container">
  <h2>@Model.GetName()</h2>
  <form action='/clients' method='post'>
    <input id='stylistId' name='stylistId' type='hidden' value='@Model.GetId()'>
    <div class="form-group">
      <label for='clientName'>Client Name</label>
      <input id='clientName' name='clientName' type='text'>
    </div>
    <button type='submit' class='btn btn'>Add</button>
  </form>

  <a href='/'><button class='btn'>Go Home</button></a>
</div>
