@{
  Layout = "_Layout";
}

<h2>Here is the list of your clients.</h2>
<div class="container">
<ul>
  @foreach (var client in Model)
  {
    <li><a href='/clients/@client.GetId()'>@client.GetName()</a></li>
  }

  <a href='/clients/delete'><button class='btn btn'>Delete All Clients</button></a>
</ul>
</div>
